*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; 
}
.navbar{
    height:60px ;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo{
    height: 50px;
    width:100px;
}

.logo{
    background-image: url("./Utils/amazon.webp");
    background-size: cover;
    height:50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add1{
height: 14px;
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}
.add2{
       font-size: 1rem;
       margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 900px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 51.6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
   text-align: center;
   border: none;
}

.search-input{
    width:100%;
    border: none;
    font-size:1rem ;
}
.search-icon{
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68 ;
    color:#0f1111

}

.nav-lang{
    width: 50px;
    
}

 .search-lang{
    background-color:#0f1111;
    color: white;
    border: none;
} 

span{
    font-size: 0.7rem;
}


.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-return{
    font-size: 0.7rem;
}

.nav-order{
     font-size: 0.85rem;
     font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
       /* Next */

.panel{
    height: 40px;
   display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
}       

.panel-opts p{
display: inline;
margin-left: 20px;
}
.panel-opts{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;

}

/* Next */
.content-section{
    background-image: url("./Utils/kitchen.jpg");
    background-size: cover;
   
    height:280px ;
    
}

.shop-sec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    background-color: #f3f3f3;
}

.box{
    border: 2px ;
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-bottom: 15px;
} 

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

/* next */

 /* .books-store{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
}

.books-image{
        height: 200px;
        width: 133px;
        background-color: pink;
        background-size: cover;

}
.books-cont{
   height: 200px;
   width: 900px;
} 
.c{
  display: flex;
  justify-content: flex-start;
} */